.container-login {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container-login .section-login {
  width: 100%;
  max-width: 500px;
}
.container-login .card-login {
  padding: 2em 0;
}
.section-login h1 {
  color: #474747;
}