.container-favoritos{
        margin-top: 6em;
        margin-left: 6em;
        margin-right: 6em;
        display: flex;
        flex-direction: column;
}

.head-favoritos{
    border-bottom: 1px solid #3d3d3d6c;
    width: 100%;
    margin-bottom: 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.head-favoritos h2{
    color: #3d3d3d;
    margin-bottom: 20px;
}

.card-favoritos{
    width: 350px;
    padding: 20px;
    border-radius: 50px;
    box-shadow:  0 0.5rem 1rem rgba(0, 0, 0, 0.15);
    background-color: #fcfcfd;
    margin-bottom: 50px;
}

.caixas-favoritos{
    flex-wrap:wrap;
}

.icone-add{
    font-size: 100px;
    align-items: center;
    justify-content: center;
    display: flex;
    padding-top: 100px;
    padding-bottom: 100px;
    cursor: pointer;
}