.cardCurso {
  position: relative;
  width: 23em;
  min-height: 245px;
  max-height: 245px;
  border: none !important;
  text-decoration: none;
}
.nomeCurso {
  width: 266px !important;
  white-space: nowrap !important;
  overflow: hidden !important;
  text-overflow: ellipsis !important;
}
.descricao {
  height: 90px;
  max-height: 90px;
  overflow: hidden;
}
.swiper {
  padding: 1em !important;
}
.swiper-slide {
  width: 22em !important;
}
.cardCurso .card-body p {
  font-size: 1rem;
}
.cardCurso .card-body a {
  text-decoration: none;
}

.card .area {
  position: absolute;
  top: -16px;
  right: -16px;
}

.area .area-icon-card {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fff;
  font-size: 2em;
}
@media screen and (max-width: 1439px) {
  .cardCurso {
    width: 22em;
  }
  .swiper-slide {
    width: 22em !important;
  }
  .cardCurso .card-body p {
    font-size: 1em;
  }
}

@media screen and (max-width: 767px) {
  .cardCurso {
    width: 95%;
    min-height: 217px;
    max-height: 217px;
    min-width: 355px;
  }
  .swiper {
    padding-left: 0.5em !important;
  }
  .cardCurso .nomeCurso {
    font-size: 14px !important;
  }
  .info-card {
    font-size: 12px;
    margin-top: 1em;
  }
  .cardCurso .card-body p {
    font-size: 12px;
  }
  .cardCurso .card-body {
    padding-left: 0.7em;
    padding-right: 0.7em;
  }
  .card .area {
    position: absolute;
    top: -9px;
    right: -10px;
  }
  .area .area-icon-card {
    width: 50px;
    height: 50px;
    font-size: 1.8em;
  }
}