.ulMenu {
  text-decoration: none;
  padding: 0%;
  font-size: 18px;
}

.ulMenu .active {
  background-color: #e4e4e4;
  color: #1b1ca1;
}

.ulMenu a {
  width: 95%;
  text-decoration: none;
  cursor: pointer;
  border-radius: 5px;
  display: flex;
  padding: 0.3em;
  font-size: 1.1em;
  color: #fff;
  flex-direction: row;
  transition: ease-in-out 0.3s;
}
.ulMenu a:hover {
  background-color: #e4e4e4;
  color: #1b1ca1;
}

.ulMenu svg {
  margin-right: 0.5em;
}
.logoSumare {
  width: 70%;
  margin-top: 30px;
}

.abracaMenu {
  position: fixed;
  left: 0;
  height: 100%;
  width: 280px;
  background: #1b1ca1;
  min-height: 100vh;
  top: 0;
  color: #fff;
  text-align: left;
  padding-left: 15px;
  box-shadow: 1px 0px 11px -8px #000;
}

#sair {
  position: absolute;
  width: 251.75px;
  bottom: 15px;
}

@media screen and (max-width: 1439px) {
  .abracaMenu {
    width: 250px;
  }

  .ulMenu {
    font-size: 16px;
  }
  #sair {
    position: absolute;
    width: 223.25px;
    bottom: 15px;
  }
}
