.footer {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  min-height: 80px;
  background-color: #4A4A4A;
  margin-top: auto;
}

.footer p {
  margin-bottom: 0;
  color: #fff;
}

@media (max-width: 767px) {
  .footer p {
    font-size: 12px;
  }
}