.abracaMenu #sidebar-itens {
  display: flex; 
  flex-direction: column;
  height: 100%;
}
.abracaMenu #sidebar-itens hr {
  margin: 0.6em 0;
}
.abracaMenu ul li a {
  transition: background 0.2s ease;
}
.abracaMenu ul li a:hover {
  background-color: #007d81 !important;
}
.logoCsh {
  width: 65%;
}
.sb-button {
  cursor: pointer;
  color: #fff;
}
.header-sidebar {
  display: flex;
  align-items: center;
  padding-top: 1em;
}
@media screen and (max-width: 1439px) {
}
